* {
  box-sizing: border-box;
}
.home-section h2 {
  text-shadow: 0 0 10px #f5f6fa, 0 0 100px #f5f6fa;
}
.profile.detail-active {
  transition: all 0.4s ease-in;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 65px;
  border-top-left-radius: 65px;
  border-top-right-radius: 0px;
  box-shadow: rgba(255, 255, 255) 0px 1px 2px 0px, rgba(255, 255, 255) 0px 2px 6px 2px;
  padding: 25px 20px 20px 20px;
}
.profile {
  height: 140px;
}
.profile.unactive {
  transition: all 0.4s ease-in-out;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.about-me {
  overflow: hidden;
  max-height: 0;
  transition: all 0.4s ease-in;
}

.about-me.about-me-active {
  max-height: 500px;
  transition: all 0.5 ease-in-out;
}
